html, body,main {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/popcorn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    overflow: auto;
}

object {
    pointer-events: none;
}
