html, body {
    height: 100%;
}

body {
    background-image: url("../../public/img/popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

main {
    min-height: 100%;
}

object {
    pointer-events: none;
}
